.Introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E4F0FC;
  font-family: "Inter", sans-serif;
  min-height: 70vh;
  width: 100%;
  padding-top: 100px;
}
.container{
  position: relative;
  width: 100%;
  max-width: 1400px;
  height: 220vh;
  padding: 0 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
  background: white;
  border-radius: 10px; 
  margin-bottom: 20px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}
.Header { 
  position: absolute;
  padding: 20px;
  border-bottom: 2px solid #0C1B2C;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.Header img {
    width: 150px;
    height: auto;
}

.Content {
  margin-top: 125px;
  padding: 20px;
  font-size: 18px;
  line-height: 1.6;
  width: 100%;
}

.Section1 h2 {
  color: #5b9094;
  font-weight: 40px;
}
.Section1 p {
  margin-left: 15px;
}

.Section2 {
  margin-top: 20px;
}
.Section2 h2 {
  color: #5b9094;
  font-weight: 40px;
}
.Section2 h3 {
  color: #333;
}
.Section2 p {
  margin-bottom: 15px;
  margin-left: 15px;
}

.Section3 {
  margin-top: 30px;
}
.Section3 img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.Section4 {
  margin-top: 10px;
}
.Section4 h2 {
  color: #5b9094;
  font-weight: 40px;
}
.Section4 p {
  margin-left: 15px;
}

.end{
  margin-top: 30px;
  text-align: center;
  border-bottom: 2px solid #0C1B2C;
}
.EndLine {
  color: #5b9094;
  font-size: 30px;
}

.Logo {
  display: block;
  width: 150px;
  height: auto;
  margin: 10px auto;
}

