.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cbd7e3;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  width: 100%;
  padding-top: 100px;
}

.loginForm {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  width: 400px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
  margin-bottom: 100px;
}

.loginForm h2 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 600;
  font-style: initial;
  color: #333;
  white-space: nowrap;
}

.loginInput {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 20px;
}

.loginInput input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.loginButton {
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  background-color: #5b9094;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #ee4848;
}

.loginButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.error {
  color: #e74c3c;
  font-size: 12px;
  margin-top: -20px;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.linkButton {
  background: none;
  border: none;
  color: #5b9094;
  text-decoration: none;
  cursor: pointer;
  font-size: inherit;
  margin-left: 10px;
  padding: 0;
}

.linkButton:hover {
  text-decoration: underline;
}

.linkButton:disabled {
  color: #cccccc;
  cursor: not-allowed;
}

.loginForm img {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100px;
  height: auto;
}

.signupLink {
  text-align: center;
  color: #070707;
  font-size: 14px;
}

.signupLink a {
  margin-left: 10px;
  color: #5b9094;
  text-decoration: none;
}

.signupLink a:hover {
  color: #ee4848;
}
.forgotPasswordLink {
  text-align: center;
  margin-top: 10px;
}

.forgotPasswordButton {
  background: none;
  border: none;
  color: #5b9094;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
}

.forgotPasswordButton:hover {
  color: #ee4848;
  text-decoration: underline;
}

.forgotPasswordButton:disabled {
  color: #cccccc;
  cursor: not-allowed;
}