.ProductList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E4F0FC;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  width: 100%;
  padding-top: 100px;
}
.container{
  position: relative;
  width: 100%;
  max-width: 1400px; 
  padding: 0 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.error {
  color: #ff4757;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow:0 2px 10px rgba(0, 0, 0, 0.05);
}

.productCard {
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid transparent;
}
.productCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-color: #5b9094;
}

.floatingCartBtn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #5b9094;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floatingCartBtn:hover {
  background-color: #ee4848;
  transform: scale(1.1);
  animation: pulse 1s infinite;
}

.cartBadge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ff4757;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid white;
}
